    /*
    Flaticon icon font: Flaticon
    Creation date: 19/07/2016 19:57
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-24-hour-service:before { content: "\f100"; }
.flaticon-airplane-shape:before { content: "\f101"; }
.flaticon-calendar:before { content: "\f102"; }
.flaticon-close-cross:before { content: "\f103"; }
.flaticon-cube-with-arrows:before { content: "\f104"; }
.flaticon-disco-ball:before { content: "\f105"; }
.flaticon-facebook-logo:before { content: "\f106"; }
.flaticon-frontal-taxi-cab:before { content: "\f107"; }
.flaticon-gps:before { content: "\f108"; }
.flaticon-load:before { content: "\f109"; }
.flaticon-location-pin:before { content: "\f10a"; }
.flaticon-minibus:before { content: "\f10b"; }
.flaticon-monitor:before { content: "\f10c"; }
.flaticon-multiple-users-silhouette:before { content: "\f10d"; }
.flaticon-percentage:before { content: "\f10e"; }
.flaticon-phone-receiver:before { content: "\f10f"; }
.flaticon-route:before { content: "\f110"; }
.flaticon-switzerland:before { content: "\f111"; }
.flaticon-trailer:before { content: "\f112"; }
.flaticon-travel:before { content: "\f113"; }
    
    $font-Flaticon-24-hour-service: "\f100";
    $font-Flaticon-airplane-shape: "\f101";
    $font-Flaticon-calendar: "\f102";
    $font-Flaticon-close-cross: "\f103";
    $font-Flaticon-cube-with-arrows: "\f104";
    $font-Flaticon-disco-ball: "\f105";
    $font-Flaticon-facebook-logo: "\f106";
    $font-Flaticon-frontal-taxi-cab: "\f107";
    $font-Flaticon-gps: "\f108";
    $font-Flaticon-load: "\f109";
    $font-Flaticon-location-pin: "\f10a";
    $font-Flaticon-minibus: "\f10b";
    $font-Flaticon-monitor: "\f10c";
    $font-Flaticon-multiple-users-silhouette: "\f10d";
    $font-Flaticon-percentage: "\f10e";
    $font-Flaticon-phone-receiver: "\f10f";
    $font-Flaticon-route: "\f110";
    $font-Flaticon-switzerland: "\f111";
    $font-Flaticon-trailer: "\f112";
    $font-Flaticon-travel: "\f113";