/* Style for our header texts
* --------------------------------------- */
*{
	font-family: 'Lato', sans-serif;
}


#topNav{
	
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	/*text-align:center;*/
}


/* Overwriting styles for control arrows for slides
* --------------------------------------- */
.controlArrow.prev {
	left: 50px;
}
.controlArrow.next{
	right: 50px;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}

.fp-controlArrow.fp-prev {
    left: 30px;
}

.fp-controlArrow.fp-next {
    right: 60px;  
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white;
}

#section1, #section3{
	color: white;
}

#section3{
	color: black;
}


/* irst section components style
* --------------------------------------- */
#section1{
	background: url("img/city-cars-traffic-lights.jpg") no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}

#subnav{
	display: block;
	background-color: white;
	width: 100%;
	position: fixed;
	top: 70px;
	padding: 1vh;
}

#subnav h4{
	display: inline-block;
	color: #8f8f8f;
	font-size: 2.3vh;
	vertical-align: middle;
}

#subnav .flaticon{
	color: #DB281C;
	display: inline-block;
	vertical-align: middle;
}

#where_go{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#subnav .subtitle{
	text-align: center;
}

#section1 h1{
	font-family: "Lato Black",sans-serif;
	margin: 0;
	font-size: 12vh;
	line-height: 1;
	letter-spacing: -2px;
	color: #000;
	margin-top: 6vh;
}

#section1 h3{
	color: #000;
	font-size: 3vh;
	margin: 0px;
}



#section1 input, button{
	min-height: 60px;
	border-right: none;
	font-size: 18px;
}

#section1 .addon{
	background-color: white !important;
	border-left: none;
	font-size: 12px;
	color: #DB281C;
	width: 30px;
	margin-right: 20px;
}

#section1 .addon span::before{
	font-size: 20px !important;
}

#section1 button{
	width: 100%;
}

.btn-go{
	background-color: #DB281C;
	min-height: 60px;
	padding-right: 0px;
}

.form-bg{
	background-color: #eaeaea;
	padding: 1vh;
	display: inline-block;
}

.box{
	height: 100%;
	margin-right: 20% ;
	margin-left: 20%;
	padding: 7vh;
	overflow: auto;
}
.box p{
	font-size: 1.5em;
}

.box img{
	display: inline-block;
	max-width: 50%;
	vertical-align: middle;
}

.box .box-description{

	margin-top: 2vh;
}

.flat-img{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

.box .flat-img::before{
	font-size: 20vh;
	float: right;
	display: block;
}

.popup-vehicles{
	position: absolute;
	left: 150px;
	top: 250px;
	overflow: auto;
	z-index: 10;
	background-color: #FFF;
	padding: 0px 0px 0px 0px;
	padding-left: 0px;
	margin: 0px;
	width: 330px;
}

.popup-vehicles > li{
	padding: 0px 0px 0px 0px;
	margin: none;
	height: 60px;
}

.popup-vehicles li:not(:first-child):hover{
	background-color: #f1f1f1;
	cursor: pointer;
}

.popup-vehicles > .title{
	padding: 1.6vh;
	font-size: 2.4vh;
	background-color: #e53e33;
}

.popup-vehicles .pop-text{
	color: #e53e33;
}

.popup-vehicles .pop-text span::before{
	font-size: 4.4vh;
	vertical-align: middle;
	margin-right: 15px;
}

.deactivated{
	opacity: 0;
	-webkit-transition: opacity .125s ease-in-out;
    -moz-transition: opacity .125s ease-in-out;
    -ms-transition: opacity .125s ease-in-out;
    -o-transition: opacity .125s ease-in-out;
    transition: opacity .125s ease-in-out;
    transition: visibility 0s, opacity 0.125s linear;
    visible: hidden;
}

#vehicles:focus, #vehicles, #position:focus, #position{
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-color: #CCC;
}

#vehicles{
	text-align: left;
	font-size: 18px;
	color: #999;
}

#exit_menu::before{
	font-size: 1.6vh;
	padding: 0.7vh;
	float: right;
	cursor: pointer;
}

.popup-position{
	position: absolute;
	left: 150px;
	top: 250px;
	overflow: auto;
	z-index: 10;
	background-color: #FFF;
	padding: 0px 0px 0px 0px;
	padding-left: 0px;
	margin: 0px;
	width: 330px;
	animation-duration: 0.2s !important;
	max-height: 400px;

}

.popup-position > li{
	padding: 0px 0px 0px 0px;
	margin: none;
	height: 60px;
}

.popup-position li:hover{
	background-color: #f1f1f1;
	cursor: pointer;
}

.popup-position > .title{
	padding: 1.6vh;
	font-size: 2.4vh;
	background-color: #e53e33;
}

.popup-position .pop-text{
	color: #e53e33;
}

.popup-position .pop-text span::before{
	font-size: 4.4vh;
	vertical-align: middle;
	margin-right: 15px;
}

.no-padding{
	padding: 0px 0px 0px 0px !important;
}

.top-margin{
	margin-top: 5vh;
}

.center{
	text-align: center;
}


.bottom-box a{
	color: #E53E33;
	text-decoration: none;
	font-size: 3vh;
	font-weight: 600;
}

.bottom-box a:hover{
	text-decoration: none;
	color: #E53E33;
}


.postiion-container, .call-container{
	overflow: auto;
	padding: 4vh;
	background-color: rgba(255, 255, 255, 0.2);
	margin-top:1vh;
}

.vehicle-infolist{
	display: inline-block;
	float: right;
	width: 40%;
	vertical-align: middle;
}

.vehicle-infolist h4{
	font-size: 4.5vh;
}

.vehicle-infolist .list{
	padding: 1vh;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
	overflow: auto;
	width: 80%;
}


.vehicle-infolist .list p{
	text-align: center;
}

.info-element{
	display: inline-block;
	width: 50%;
	height: 100%;
	float: left;
}

.info-element [class^="flaticon-"]:before{
	margin: auto;
	text-align: center;
	display: block;
}

.contact{
	padding-top: 4vh;
	color: white;
	padding: 4vh;
}

.contact input{
	height: 48px !important;
}

.contact textarea{
	margin-top: 1vh;
}

.contact a{
	text-decoration: none;
	color: white;
}

.contact a:hover{
	text-decoration: none;
	color: #E53E33;
}

.footer-icon:before{
	font-size: 28px !important;
	display: block;
}

.footer-icon{
	display: inline-block;
	margin-right: 12px;
	vertical-align: middle;
}

.address p{
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}

.address-info{
	display: block;
}

.copyright{
	width: 100%;
	padding: 4vh;
	background-color: #E53E33;
	text-align: right;
	color: white;
}

.copyright p{
	margin: 0px;
}